.booking{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.booking-left{
    flex-basis: 40%;/*space used*/ 
}
.booking-right{
    flex-basis: 50%;
}
.booking-img{
    width: 100%;
    border-radius: 10px;
}
.booking h3{
    font-weight: 600;
    color: maroon;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
}
.booking h2{
    font-weight: 600;
    color: black;
    font-size: 30px;
    margin: 10px 0;
    max-width: 400px;
}
.booking p{
    color: #4a4949;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    .booking{
        flex-direction: column;
    }
    .booking-left{
        flex-basis: 100%;
        margin: 20px;
    }
    .booking-right{
        flex-basis: 100%;
    }
}