nav{
    position: fixed;
    width:100%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999;/*ovelaps content on the webpage*/
    color: #fff;
}
.logo{
    width: 150px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 0px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 8px;
    font-size: 15px;
}
.dark-nav{
    background: #4c0101;
    transition: 0.5s;
}
/*media query for responsive design*/
@media (max-width: 1000px) {
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
.menu-icon {
    display: none;
    width: 30px;    
    height: 30px;   
    cursor: pointer;
}
/*side bar*/
@media (max-width: 840px) {
    nav{
        padding: 15px 0;
        position: relative;
    }
    nav ul{
        position: fixed;
        top: 0;
        right: 0;
        background: gray;
        z-index: 1000;
        width: 200px;
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transition: 0.5s;
    }
    nav ul li {
        display: block;
        list-style: none;
  }

  nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .menu-icon{
    display: block;
    width: 30px;
    cursor: pointer;;
  }
  .mobile-menu{
    right: -200px;
  }
}
